# Rust build artifacts
/target
**/*.rs.bk

# Git
.git
.gitignore

# IDE / Editor
*.swp
*.swo
*.DS_Store
*.idea
*.vscode

# OS cache
Thumbs.db

# Cargo local config
.cargo

# dotenv or secrets
.env
.env.*

# dev
.vscode
data
local
tests
config/cluster.json
